.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  width: 100%;
  max-width: 56rem;
}

.content {
  width: 100%;
  overflow: scroll;
}

.goBack {
  align-self: end;
  color: blue;
  white-space: nowrap;
}

.goBack:hover {
  color: gray;
}
