@import url('https://unpkg.com/@highlightjs/cdn-assets@11.8.0/styles/default.min.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'IBM Plex Mono', monospace;
}

pre {
  border: solid 1px;
  border-radius: 1rem;
  padding: 1rem;
  overflow: scroll;
}
