@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://unpkg.com/@highlightjs/cdn-assets@11.8.0/styles/default.min.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'IBM Plex Mono', monospace;
}

code {
  border-radius: 1rem;
}
